.logo{color: #fff;font-size: 25px;font-weight: 500;}
.logo2 img {width:200px;}
.wrapper .page-wrap .app-sidebar.colored .sidebar-header {background-color: #fff;}
.footer {height:unset;}
.logo img {height: 25px;margin-right: 10px;}


/* ================ NEW CSS Changes by developer Piyusha ============== */

/* Header CSS */

/* Black sidebar */
.wrapper .page-wrap .app-sidebar.colored .sidebar-header { height: 80px;background-color: #272d36;}
.wrapper .page-wrap .app-sidebar {width: 200px;}
.wrapper .page-wrap .main-content {padding-left: 215px;}

/* Sales OTI & Category Share table CSS */
.table thead {background-color: #003b7e;color: #fff;text-align: center;}
.table thead th {font-weight: 600;color: #fff;font-size: 14px;}

/* loader css */
.loader{position: fixed;padding-top: 42vh;z-index: 9999;padding-left: 49%;background: rgb(0 0 0 / 20%);height: 100%;width: 100%;display:none;}
/* .backbonus_contfluid{position: relative;} */

/* Customer Filter and Summery Page */
table.dataTable#advanced_table tbody tr {cursor: pointer;}
.ui-datepicker-calendar {display: none;}
.error {color: red;}
select#customer_unique,select#quater {width: 100%;position: relative;overflow-y: hidden;padding: 0;}
.select2.select2-container {position: relative;}
.custom_placeholder {position: absolute;z-index: 99;padding: 6px 15px;color: #555555;}
.select2.select2-container--default.select2-container--focus .select2-selection--multiple {border-color: #8e8e8e;padding: 0 12px;}
.select2.select2-container--default .select2-selection--multiple {border-color: #bfbfbf;padding: 0 10px;}
.select2-container--default .select2-search--inline .select2-search__field {margin-bottom: 0;}
select#customer_unique option.linked,
select#quater option.linked {background: transparent;height: 100%;width: 100%;padding: 10px;display: flex;align-items: center;}
.year_dash {display: flex;width: 4%;align-items: center;justify-content: center;height: 35px;}
.year_column {display: inline-block;width: 100%;}
.year_column label{display: block;}
.year_column .yearRange_div{display: inline-flex;width: 100%;}

/* input[type="month"]::before{content: attr(placeholder) !important;color: #aaa;width: 100%;}
input[type="month"]:focus::before,
input[type="month"]:active::before {content: "";width: 100%;} */

.datepicker table tr td span.disabled, .datepicker table tr td span.disabled:hover { display:none; }
.datepicker th.prev,.datepicker th.next {display: none;}

.datepicker th.datepicker-switch {content: '';position: relative;z-index: 0;font-size: 1px;}
.datepicker th.datepicker-switch::before {content:'2020-2023';position: absolute;z-index: 9;font-size: 13px;display: flex;align-items: center;justify-content: center;width: 100%;top: 2px;
background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E);
background-size: 0.6em;background-position: right 14px top 35%;background-repeat: no-repeat;}

.refresh_unique{display: inline-block;width: 20px;margin:0 5px !important;text-align: center;border: 1px solid red;}

select.bulk, select.spirit,select.regular, select.promo,select.cip {padding-right: 30px;}
#bb_table select.form-control{background-position: center right 10px;}
.datepicker table tr td span.month.disabled, .datepicker table tr td span.month.disabled:hover{display: inline !important;}
.datepicker thead tr:first-child th, .datepicker tfoot tr th {background: #eee;}

/* Offer Page CSS */
.full_div {display: inline-block;width: 100%;}
.half_div {display: inline-block;width: 40%;}
.half_div.first {width: 57%;}
td.type1_bb {display: inline-flex;width: 100%;}
input.percent,
input.amount {width: 50%;}
.BonusType_error{color: red;}
.bt_error{display: none;color: red;}
#refresh_bonusTypes{cursor: pointer;}
input.form-control.collis, input.form-control.selling {border: 1px solid grey !important;}
/* nnnbp Page CSS */
/* #nnnbp_updatePage .nnnbp_columns {border: 0;}display: flex;align-items: center;justify-content: center; */
#nnnbp_updatePage .switch {position: relative;display: inline-block;width: 46px;height: 23px;margin-bottom: 0}
#nnnbp_updatePage .switch input {opacity: 0;width: 0;height: 0;}
#nnnbp_updatePage .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
#nnnbp_updatePage .slider:before {position: absolute;content: "";height: 17px;width: 17px;left: 3px;bottom: 3px;background-color: white;-webkit-transition: .4s;transition: .4s;}
#nnnbp_updatePage input:checked+.slider {background-color: rgb(249 174 0);}
#nnnbp_updatePage input:focus+.slider {box-shadow: 0 0 1px #f9ae00;}
#nnnbp_updatePage input:checked+.slider:before {-webkit-transform: translateX(23px);-ms-transform: translateX(23px);transform: translateX(23px);}
#nnnbp_updatePage input:checked+.slider.not_selected {background-color: #ccc;}
#nnnbp_updatePage input:focus+.slider.not_selected {box-shadow: 0 0 1px #ccc;}
#nnnbp_updatePage input:checked+.slider.not_selected:before {-webkit-transform: translateX(0);-ms-transform: translateX(0);transform: translateX(0);}
#nnnbp_updatePage .slider.round {border-radius: 34px;}
#nnnbp_updatePage .slider.round:before {border-radius: 50%;}

.metro-logo-head{
    max-width: 120px;
    height: auto;
    display: block;
    margin-bottom: 5px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.country-flag-head{
    max-width: 26px;
    height: auto;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.wrapper .page-wrap .app-sidebar .sidebar-header{
    padding: 8px 10px;
    height: auto;
    background-color: #ededed;
}
.logo-img{
    margin-left:auto;
    margin-right: auto;
    display: block;
}
.wrapper .page-wrap .app-sidebar .sidebar-header .header-brand .logo-img{
    display: block;
    width: 100%;
    max-width: 300px;
}
.sidebar-action{
    position: absolute;
    right: 10px;
    font-size: 22px;
    color: #c7c7c7;
    cursor: pointer;
}


.wrapper .page-wrap .app-sidebar{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    /* border-radius: 12px; */
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 4px 6px -1px rgb(0 0 0/0.1),0 2px 4px -2px rgb(0 0 0/0.1)
}
.wrapper .header-top[header-theme="light"]{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    /* border-radius: 12px; */
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 4px 6px -1px rgb(0 0 0/0.1),0 2px 4px -2px rgb(0 0 0/0.1)
}
.card{
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    /* border-radius: 12px; */
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 4px 6px -1px rgb(0 0 0/0.1),0 2px 4px -2px rgb(0 0 0/0.1)
}
.wrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item.active a{
    background-color: #003b7e;
    color: #f9ae00;
    align-items: center;
    display: flex;
}
.wrapper .page-wrap .app-sidebar .sidebar-header .header-brand{
    width: 100%;
}
.btn{
    background-image: none !important;
}
.wrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item a span{
    font-weight: bold;
    font-size: 14px;
}
.page-header-title{
    display: flex;
    align-items: center;
}
.wrapper .page-wrap .main-content .page-header .page-header-title i{
    box-shadow: 0 4px 6px -1px rgb(0 0 0/0.1),0 2px 4px -2px rgb(0 0 0/0.1);
}
.wrapper .page-wrap .main-content .page-header{
    margin-bottom: 10pxSS;
}
#nnnbp_updatePage input:checked+.slider{
    background-color:#0089cb; 
}
.wrapper .page-wrap .footer{
    padding: 8px 15px;
    padding-left: 40px;
}
.wrapper .header-top{
    padding-left: 215px;
}
.wrapper .page-wrap .app-sidebar .sidebar-content .nav-container .navigation-main .nav-item a:hover{
    color: #f9ae00 ;
background-color: #f2f2f2;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td{
    padding: 6px 12px;
    line-height: 1.4;
    border: 2px solid #f2f5f7;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #f2f5f7;
    border: 2px solid #f2f2f2;
}
